MUSIC_DATA_DIR=./data
MUSIC_SECRETS_DIR=./secrets
MUSIC_CONFIG_DIR=./radio/config
MUSIC_WEB_PORT=8088
MUSIC_WORKER_UID=10001
MUSIC_WORKER_GID=10000
RADIO_API_UUID=replace-with-a-uuid-v4
RADIO_TIMEZONE=Etc/UTC
ICECAST_HOSTNAME=localhost
ICECAST_STREAM_URL=http://localhost:8000/radio.aac
ICECAST_ADMIN_EMAIL=admin@localhost
RADIO_MAX_PLAYLIST_ITEMS=100
RADIO_MAX_VIDEO_SECONDS=13200
RADIO_JOB_TIMEOUT_SECONDS=14400
RADIO_POLL_SECONDS=2
RADIO_WEB_IMAGE=local/music-web:dev
